@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0em;
}

html, body{
    height: 100%;
    margin: .2em;
}

header{
    display: flex;
    justify-content:end;
    align-items:flex-end;
    width: 100%;
    height: 11em;
    margin-bottom: 2em;
    color: whitesmoke;
    background-image: url('imgs/tarta_manzana.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; 
}
h1{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
}


/* 
/ RESPONSIVE
   ========================================================================= /
 
/ Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- /*/
@media (min-width: 768px) { }
/*  
/ Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- /*/
@media (min-width: 1024px) { }
/*  
/ Escritorios muy anchos
   ------------------------------------------------------------------------- */
   @media (min-width: 1200px) { }