
table, tr, th, td{
    border: solid 1px #A7C942;
    border-collapse: collapse;
    caption-side: bottom;
}

th{
    border: none;
    text-align: end;
    color: #FFFFFF;
    background-color: #A7C942;
}

tr:nth-child(odd){
    background-color: #EAF2D3;
}

tr:hover{
    background-color: #A7C942;
}
