*{
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 14px;
}
body{
    color: #666;
}
h3{
    color: maroon;
    
}
table{
    border: 1px solid lightgrey;
    border-radius: 6px;
}
thead{
    color: white;
    background-color: dimgrey;
}