@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300&display=swap');

html, body{
    height: 100%;
    margin: 0;
}
*{
    font-family: 'Nunito', sans-serif;
}

header{
    height: 10em;
    color: whitesmoke;
    background-image: url('./imgs/tarta_manzana.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top; 
}
header h1{
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin:0;
    padding-top: 3em;
    padding-bottom: 0;
}

h2{
    font-size: 1.2em;
}
article{
    padding: 1em;
    font-size: 1em;
}

article>div{
    width: 22em;
    height: 2.2em;
    overflow: hidden;
    position: relative;
    left: 4%;
    right: 4%;
}
article>div>img:nth-child(2){
    float:left;
    height: 6em;
    padding-right: 1em;
    margin-bottom: -7rem;
    
}
article>div>img:nth-child(4){
    float:left;
    height: 6em;
    padding-right: 1em;
    margin-bottom: -5rem;
    margin-top: -2em;
    
}
article>div>img:nth-child(6){
    float:left;
    height: 6em;
    padding-right: 1em;
    margin-top: -4rem;
    
}
article div p {
    float: left;
    padding-right: 0.5em;
}
